# Ignore all files by default
*

# But include the specific directories and files
!src/components/index.ts
!src/components/Button/index.tsx
!src/components/ConfirmationCodeInput/index.tsx
!src/components/Grid/index.tsx
!src/components/Typography/index.tsx
!src/actions/server/form/store/reusableStore.ts
!src/actions/server/form/store/dataField.ts
!src/actions/server/form/store/crypt.ts
!src/actions/server/form/getFormData.ts
!src/actions/client/codeconfirmation/useCodeConfirmation.tsx
