# Ignore all files by default
*

# But include the specific directories and files
!src/components/ConfirmationCodeInput/index.tsx
!src/components/Button/index.tsx
!src/components/Grid/index.tsx
!src/components/StyledComponent/index.tsx
!src/components/Typography/index.tsx
!src/components/RadioGroup/index.tsx
!src/components/Form/Popup/index.tsx
!src/components/Content/index.tsx
!src/actions/server/form/store/reusableStore.ts
!src/actions/server/form/getFormData.ts
!src/types/content/alignment/index.ts
!src/types/content/animation/index.ts
!src/types/content/index.ts
!src/styles/palette.ts
!src/styles/typography.ts
!src/styles/Form/index.ts
!src/index.ts