# Ignore all files by default
*

# But include the specific directories and files
!src/components/index.ts
!src/components/Button/index.tsx
!src/components/Grid/index.tsx
!src/components/StyledComponent/index.tsx
!src/components/Typography/index.tsx
!src/actions/server/form/store/reusableStore.ts
!src/actions/server/form/store/crypt.ts
!src/actions/server/form/getFormData.ts
!src/types/button/index.ts
!src/types/content/alignment/index.ts
!src/types/content/animation/index.ts
!src/types/formstore/index.ts
!src/types/grid/customgrid/index.ts
!src/types/styledcomponent/index.ts
!src/types/typography/index.ts
!src/styles/palette.ts
!src/styles/typography.ts